@using (Html.BeginForm("Search", "Habitacoes", FormMethod.Post))
{
    <div class="form-inline d-flex ">
        <input type="text" name="textoAPesquisar"
               id="textoAPesquisar" placeholder="Nome da habitação"
               class="form-control form-control-sm" />
    </div>
}